body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin: 2rem;
}

.input-container {

}

.answer-container {
    margin: 1rem;
}